#home{
    margin-top: 10px;
    margin-bottom: 10px;
}

.section {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100vh;
}

.title {
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 50%;
    transform: scale(1) ;
    transition: all 2s cubic-bezier(.215, .61, .355, 1);
    opacity: 0;
}

.section.in-page .title {
    transform: scale(1.5) translateX(-32%);
    opacity: 1;
}

.none{
    display: none;
}